In [ ]:
x=5
for i in range(1,x+1):
  patt=" "
  for j in range(x-i):
    print(' ', end='')

  print("*"*i)

    *
   **
  ***
 ****
*****

In [3]:
a=[1,2,3,4,5]
mul=1
for i in range(len(a)):
  mul=mul*a[i]
for i in range(len(a)):
  a[i]=int(mul/a[i])
a

[120, 60, 40, 30, 24]

In [ ]:
p=0
def revno(n):
  global p
  p=p*10+(n%10)
  #print(p)
  
  if n//10==0:
    return n   
  else:
    revno(n//10)
  return p
    
   
revno(n=1234)

4321

In [ ]:
def revno(n,p):
  while n>0:
    p=p*10+(n%10)
    n=n//10
  return p 
  
revno(1234,0)

4321

In [ ]:
len(1234)

TypeError: ignored

In [ ]:
a=[12,15,85,24,0]
p=0
index=-1
for i in range(len(a)):
  if a[i]==p:
    index=i
    break
print(index)

len(a)

4

5

In [ ]:
for i in range(0,5):
  print(i)

0
1
2
3
4

In [ ]:
a=[[121,115,185,124],[12,25,35,100,15,89]]
min=a[0][0]
index=[-1,-1]
for i in range(len(a)):
  #print("i is",i)
  for j in range(len(a[i])):
    #print("j is", j)
    if min>a[i][j]:
      min=a[i][j]
      index=[i,j]

print(min,index)

12 [1, 0]

In [ ]:
a=[[121,15,85,24],[12,25,35,78]]
len(a)

2

In [ ]:
a=[[-121],[12,555]]
even=0
odd=0
for i in range(len(a)):
  for j in range(len(a[i])):

    n=a[i][j]
    num=0
    while n>0:
      num=num+n%10
      n=n//10
    if num%2==0:
      even=even+1
    else:
      odd=odd+1  
print(even,odd)

1 2

In [ ]:
import numpy as np
a=[[121,15,85,24],
   [12,25,35,78],
   [100,12,1,0]]
np.sum(a,axis=1)

array([245, 150, 113])

In [ ]:
a=[-1,-32,0,1]
n=len(a)
swap=0
for i in range(len(a)-1):  
  for i in range(len(a)-1-i):
    #print(i)
    if a[i]>a[i+1]:
      a[i+1],a[i]=a[i],a[i+1]
      swap=1
  if swap==0:
    break    

a

[-32, -1, 0, 1]

In [ ]:
a=[1,5,8,1,0,9]
n=len(a)

index=-1
for i in range(len(a)):
  swap=0
  max=a[0]
  for j in range(len(a)-i):    
    if max<a[j]:
      max=a[j]
      index=j
      #print(index):
  if a[len(a)-1-i] != a[index]:
       
    print("i=",i,"swapindex=",index,a)
    a[index],a[len(a)-1-i]= a[len(a)-1-i],a[index]
      

a

i= 1 swapindex= 2 [1, 5, 8, 1, 0, 9]
i= 2 swapindex= 1 [1, 5, 0, 1, 8, 9]
i= 3 swapindex= 1 [1, 1, 0, 5, 8, 9]
i= 5 swapindex= 1 [1, 0, 1, 5, 8, 9]

[0, 1, 1, 5, 8, 9]

In [ ]:
a=[3,4,2,5,1]

for i in range(len(a)):
  while a[i]!=i+1:
    index=a[i]
    a[i],a[index-1]=a[index-1],a[i]
    print(a)


a

[2, 4, 3, 5, 1]
[4, 2, 3, 5, 1]
[5, 2, 3, 4, 1]
[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [ ]:
def pal(n):

  rev_num=0
  num=n

  while num>0:
    rev_num=rev_num*10+(num%10)
    num=num//10
  print(rev_num)  
  if n==rev_num:
    return True
  else:
    return False 

pal(1212)

2121

False

In [ ]:
def pal(num):
  
  num=str(num)
  lit=list(num)
  l=len(lit)
  p=l//2
  print(lit)
  
  res=all(lit[n]==lit[l-1-n] for n in range(p+1))
  if res:
    return True
  else:     
    return False  

pal(196691)

['1', '9', '6', '6', '9', '1']

True

In [ ]:
2%10

2

In [ ]:
1234%10

4

In [ ]:
9//10

0

In [ ]:
def bisearch(arr, target):
  s=0
  e=len(arr)-1
  
  while s<=e:
    mid=(s+e)//2
    if target==arr[mid]:
      return mid
    elif target>arr[mid]:
      s=mid+1
    elif target<arr[mid]:
      e=mid-1
  return -1      

bisearch([1,2,4,8,9,14], 8)

3

In [ ]:
def bisearch(arr, target, s, e):

  if s>e:
    return -1
  
  mid=(s+e)//2 
  if target==arr[mid]:
    return mid  
  elif target<arr[mid]:
    return bisearch(arr, target, s, e=mid-1)
  else:
    return bisearch(arr,target,s=mid+1 ,e=e)

#arr=[1,2,4,8,9,14]

bisearch(arr=[1,2,4,8,9,14], target=0, s=0, e=len(arr)-1)

-1

In [ ]:
m=[1,2,3,4,5]
mul=1
for i in m:
  mul=i*mul

new_arr=[120 for i in range(len(m))]
result_arr=[]

for i in range(len(m)):
  ele=new_arr[i]/m[i]
  result_arr.append(int(ele))
result_arr

[120, 60, 40, 30, 24]

In [ ]:
import numpy as np
a=[[1,2,3],[2,3,5],[5,6,8]]
np.sum(np.sum(a))

35

In [ ]:
lit=["aaji", "aankil", "aankff"]

s=lit[0]
n=len(s)-1
word=0
for var in lit:
  while var[:n]!=s[:n]:
    n=n-1
    print(n)
    if n<2:
      break;
  word=n 
print(s[:word])

2
aa

In [ ]:
import numpy as np
from nltk.tokenize import  word_tokenize 
 
#Example text corpus for our tutorial
text = ['Topic sentences are similar to mini thesis statements.\
        Like a thesis statement, a topic sentence has a specific \
        main point. Whereas the thesis is the main point of the essay',\
        'the topic sentence is the main point of the paragraph.\
        Like the thesis statement, a topic sentence has a unifying function. \
        But a thesis statement or topic sentence alone doesn’t guarantee unity.', \
        'An essay is unified if all the paragraphs relate to the thesis,\
        whereas a paragraph is unified if all the sentences relate to the topic sentence.']

        #Preprocessing the text data
sentences = []
word_set = {}
 
for sent in text:
  x=[i.lower() for i in word_tokenize(sent) if i.isaplha()]
  sentences.appen(x)
  for word in x:
    if word in word_set:
      word_set[word]+=1
    else:
      word_set[word]=1

NameError: ignored

In [ ]:
#matrix: sum 
n=[1,5,-18,-1,8,1000]
sm=-1
for i in range(len(n)):
  sm_int=n[i]
  for j in range(i+1,len(n)):
    sm_int=sm_int+n[j]
    #print(sm_int)
    if sm_int>sm:
      sm= sm_int
      a=i
      b=j

sm 
n[a:b+1]

[1, 5, 8, -1, 8, 1000]

In [ ]:
#sort red white, blue
num=[2,0,2,1,1,0]
def sort1(nums):
  p0=curr=0
  p2=len(nums)-1

  while(curr<p2):
    #print(p0,curr,p2,num)
    
    if nums[curr]==0:
      nums[p0], nums[curr]=nums[curr], nums[p0]
      p0+=1
      curr+=1
    elif nums[curr]==2:
       nums[curr], nums[p2]= nums[p2],nums[curr]
       p2-=1
    else:
      curr=curr+1
  return  nums

sort1(num)

[0, 0, 1, 1, 2, 2]

In [ ]:
def numDecodings(s: str) -> int:
      if len(s) == 0 or (len(s) ==1 and s[0] == '0'):
          return 0
      return numDecodingsHelper(s, len(s))
 
def numDecodingsHelper(s: str, n: int) -> int:
    
    if n == 0 or n == 1:      
      return 1
    count = 0    
    if s[n-1] > "0":        
        count = numDecodingsHelper(s, n-1)
    if (s[n - 2] == '1' or (s[n - 2] == '2' and s[n - 1] < '7')):        
        count += numDecodingsHelper(s, n - 2)
    return count
 
# Driver code
digits = "1223"
#print(len(digits))
print("Count is ", numDecodings(digits))

Count is  5

In [ ]:
def funt(s,n):
  count=[0]*(n+1)
  count[0]=1
  count[1]=1
  for i in range(2,n+1):
    count[i]=0
    if s[i-1]>"0":
      count[i]=count[i-1]
    if s[i-2]=="1" or (s[i-2]=="2" and s[i-1]<"7"):
      count[i]+=count[i-2]
  return count[n] 

digits = "1234";
n = len(digits);
print("Count is" ,funt(digits, n));

Count is 3

In [ ]:
input_list = [1, -1, 3, 7, 8, 0, 2, 5, -6]
min([x for x in range(min(input_list), max(input_list) + 1) if (x not in input_list) and (x>0)])

4

In [ ]:
l=[2, 3, 7,1, 6, 8, -1, -10, 15]
a=[*range(min(l),max(l)+1)]
for i in a:
    if(i not in l) and i>0:
        print(i)
        break

4

In [ ]:
n=20
div=2
lit=[]
while (n>=div):
  if n%div==0:
    n=n//div
    lit.append(div)
  else:
    div+=1  
lit

[2, 2, 5]

In [ ]:
str="codespeedy"
dic={}
for i in str:
  if i in dic:
    dic[i]+=1
  else:
    dic[i]=1
for i in range(0,len(str)+1):
  if dic[str[i]]>1:
      print(str[i])
      break;

d

In [ ]:
a=[10,5,2,8]
b=[0,4,8,1]
a=sorted(a)
b=sorted(b)
print(a,b)
target=12
lt=[]
for i in range(len(a)):
  num=a[i]+b[len(b)-1-i]
  #print(num)
  if num==target or num==target+1 or num==target-1:
    lt.append((a[i],b[len(b)-1-i]))
  
lt

[2, 5, 8, 10] [0, 1, 4, 8]

[]

In [ ]:
a=[10,5,2,8]
b=[0,4,8,1]
c=set(a)
target=12
lt=[]
for i in b:
  if abs (target-i) in c:
    lt.append((i,target-i))
  elif abs(target+-i+1) in c:
    lt.append((i,target-i+1))
  elif abs(target-1-i) in c:
    lt.append((i,target-i-1))



lt

[(4, 8), (8, 5), (1, 10)]

In [ ]:
a=[10,5,2,8]
b=[0,4,8,1]
target=12
lit=[]
for i in set(a):
  for j in set(b):
    if i+j==target or i+j==target-1:
      lit.append((i,j))
lit

[(8, 4), (10, 1)]

In [ ]:
a=[10,5,2,8,'NAN',1,'NAN','NAN',5]
for i in range(len(a)-1):
  if a[i]=='NAN':
    a[i]=a[i-1]

a

[10, 5, 2, 8, 8, 1, 1, 1, 5]

In [ ]:
lit=[1,2,5,6,7,8]

li=[x for x in range(lit[0],lit[-1]+1) if x not in lit]

li

In [ ]:
n=50
div=2
if all(n%div!=0 for div in range(2,n)):
  print("prime")
else:print("not prime")

not prime

In [ ]:
n=1
div=2
lit=[]
for num in range(2,n):
  if all(num%div!=0 for div in range(2,num)):
    lit.append(num)

lit

[]

In [ ]:
n=11
div=2
lit=[]
for num in range(2,n):
  lit2=[]
  for div in range(2,num):   
    if num%div!=0:
      lit2.append(1)
    else:
      lit2.append  
  if all(lit2):
    lit.append(num)    

lit

[2, 3, 5, 7]

In [ ]:
lit=[1,2,4,6,7,10,20]
lit.sort()
p=len(lit)
miss_lit=[]
for i in range(len(lit)-1):
  diff=lit[i+1]-lit[i]
  if diff !=1:
    for j in range(1,diff):
      miss_lit.append(lit[i]+j)

[3, 5, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
lit=[1,2,3,4,6,7,8,10,11]
for i in range(lit[0],lit[-1]):
  if i not in lit:
    print(i)

5
9

In [ ]:
lit=[1,2,4,6,7,10,11]
def miss_num(l):
  return [i for i in range(lit[0],lit[-1]) if i not in lit]
      
missing_num=miss_num(lit)     
missing_num

[3, 5, 8, 9]

In [ ]:
def missing_value(x):
    y=[]
    for i in range(len(x)-1):
        if x[i+1]-x[i]==1:
            pass
        else:
            y.extend(list(range(x[i]+1,x[i+1])))
    return y
 
lit=[1,2,4,6,7,10,11]
test=missing_value(lit)
test

[3, 5, 8, 9]

In [ ]:
a = [6,7,10,11,13]
b = list(range(a[0] , a[-1]+1))
b
print(set(b) - set(a))

[6, 7, 8, 9, 10, 11, 12, 13]

In [ ]:
arr=[-2,1,-3,4,-1,2,1,-5,4,1]

smax=sum(arr)
s=0
c=0
arr1=[]
for i in range(len(arr)):
  snew=arr[i]
  for j in range(i+1, len(arr)):
    snew=snew+arr[j]    
    if smax<snew:
      smax=snew
      s=i
      c=j
arr1.extend(arr[s:c+1])      
      
      

smax 
arr1

[4, -1, 2, 1]

In [ ]:
# Recursive implementation of numDecodings
def numDecodings(s: str) -> int:
    if len(s) == 0 or (len(s) == 1 and s[0] == '0'):
        return 0
    return numDecodingsHelper(s, len(s))
 
 
def numDecodingsHelper(s: str, n: int) -> int:
    if n == 0 or n == 1:
        return 1
    count = 0
    if s[n-1] > "0":
        count = numDecodingsHelper(s, n-1)
    if (s[n - 2] == '1'
        or (s[n - 2] == '2'
            and s[n - 1] < '7')):
        count += numDecodingsHelper(s, n - 2)
    return count
 
 
# Driver code
digits = "1234"
print("Count is ", numDecodings(digits))

Count is  3

In [ ]:
https://www.geeksforgeeks.org/count-possible-decodings-given-digit-sequence/

In [ ]:
# A Dynamic Programming based Python3
# implementation to count decodings
 
# A Dynamic Programming based function
# to count decodings
def countDecodingDP(digits, n):
 
    count = [0] * (n + 1); # A table to store
                           # results of subproblems
    count[0] = 1;
    count[1] = 1;
 
    for i in range(2, n + 1):
 
        count[i] = 0;
 
        # If the last digit is not 0, then last
        # digit must add to the number of words
        if (digits[i - 1] > '0'):
            count[i] = count[i - 1];
 
        # If second last digit is smaller than 2
        # and last digit is smaller than 7, then
        # last two digits form a valid character
        if (digits[i - 2] == '1' or
           (digits[i - 2] == '2' and
            digits[i - 1] < '7') ):
            count[i] += count[i - 2];
 
    return count[n];
 
# Driver Code
digits = "1234";
n = len(digits);
print("Count is" ,
       countDecodingDP(digits, n));